<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label><%= Task.human_attribute_name(:title) %></label>
      <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label><%= Task.human_attribute_name(:description) %></label>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-inline">
    <label><%= Task.human_attribute_name(:deadline) %></label>
    <%= form.datetime_select :deadline, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <label><%= Task.human_attribute_name(:priority) %></label>
    <%= form.number_field :priority, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label><%= Task.human_attribute_name(:status) %></label>
    <%= form.select :status, Task.statuses.keys, {}, class: 'custom-select' %>
  </div>

  <%= form.submit t('label.create'), class: 'btn btn-outline-primary btn-block' %>
<% end %>